.container {
  display: flex;
  flex-direction: column;
}

.userName {
  font-size: 18px;
}

.userEmail {
  font-size: 14px;
}

.imgContainer {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.userImg {
  display: flex;
  width: 60px;
  height: 60px;
}

.userInfoContainer {
  display: flex;
  margin-top: 32px;
}

.userTextInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
